# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Android build artifacts
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# Logs
*.log

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof

# macOS
.DS_Store
